---
Checks: >-
    -*,
    clang-diagnostic-*,
    bugprone-*,
    cert-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    android-cloexec-*,
    cppcoreguidelines-avoid-const-or-ref-data-members,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-interfaces-global-init,
    cppcoreguidelines-macro-usage,
    cppcoreguidelines-narrowing-conversions,
    cppcoreguidelines-slicing,
    cppcoreguidelines-virtual-class-destructor,
    hicpp-exception-baseclass,
    -clang-diagnostic-address-of-packed-member,
    -bugprone-easily-swappable-parameters,
    -bugprone-reserved-identifier,
    -cert-dcl16-c,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
    -cert-env33-c,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -modernize-avoid-c-arrays,
    -modernize-concat-nested-namespaces,
    -modernize-raw-string-literal,
    -modernize-replace-disallow-copy-and-assign-macro,
    -modernize-replace-random-shuffle,
    -modernize-use-default-member-init,
    -modernize-use-nodiscard,
    -modernize-use-override,
    -modernize-use-trailing-return-type,
    -readability-const-return-type,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-identifier-naming,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-qualified-auto,
    -readability-redundant-access-specifiers,
    -readability-redundant-member-init,
    -readability-static-accessed-through-instance
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
...
