# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# File-based project format:
*.iws

# Build
build/

# Temporary UI Files
*.ui~
*.ui#

# Build artifacts
src/VERSION
src/Version.hpp
src/Resources.c

# IDE folders
.idea/
.vscode/