[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0.6
Name=WhatsApp
GenericName=Unofficial WhatsApp client
Comment=An unofficial WhatsApp linux client desktop application.
Exec=whatsapp-for-linux
Icon=whatsapp-for-linux
Categories=GTK;GNOME;Network;
