[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=WhatsApp for Linux
GenericName=Unofficial WhatsApp client
Comment=An unofficial WhatsApp desktop application for linux
Exec=whatsapp-for-linux
Icon=whatsapp-for-linux
Categories=GTK;GNOME;Network;
