Source: whatsapp-for-linux
Section: web
Priority: optional
Maintainer: Enes Hecan <nshecan@gmail.com>
Build-Depends: cmake,
               debhelper (>=10),
               intltool,
               libayatana-appindicator3-dev,
               libgtkmm-3.0-dev,
               libwebkit2gtk-4.0-dev,
               libcanberra-dev,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://github.com/eneshecan/whatsapp-for-linux
Rules-Requires-Root: no

Package: whatsapp-for-linux
Architecture: any
Depends: glib-networking,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         libayatana-appindicator3-1,
         libgtkmm-3.0-1v5,
         libwebkit2gtk-4.0-37,
         libcanberra0
Description: An unofficial WhatsApp desktop application for linux
